# Ignore compiled artifacts
/target

# Ignore secrets
secrets.toml
secrets_demo.toml

# Ignore IDE files
.vscode/
.idea/

# Ignore lock file
Cargo.lock

# config.toml

# Директория с логами
/logs

/markdown
config.toml
tokens.txt